.react-cron-bh-card {
  overflow: auto;
}
.react-cron-bh-card::-webkit-scrollbar {
  width: 0px;
}
.react-cron-bh-card .react-cron-bh-tabs > .ant-tabs-nav {
  margin-bottom: 0px;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab {
  padding: 16px;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab .react-cron-bh-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab .react-cron-bh-radio-group > div {
  width: 100%;
  line-height: 36px;
  display: flex;
  flex-direction: row;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab .react-cron-bh-radio-group > div .react-cron-bh-radio-content {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab .react-cron-bh-radio-group > div .react-cron-bh-radio-content .react-cron-bh-radio-number {
  width: 65px;
}
.react-cron-bh-card .react-cron-bh-tabs .react-cron-bh-tab .react-cron-bh-radio-group > div .react-cron-bh-radio-content .react-cron-bh-radio-content-select {
  width: 100%;
  flex: 1;
  max-width: 465px;
}
.react-cron-bh-bottom {
  margin: 12px 0px 0px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.react-cron-bh-bottom .react-cron-bh-bottom-cron {
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
